{% extends "base.html.twig" %}

        {% block body %}
                <h1>varnish test</h1>

                <ul>
                {% for travel in travels %}
                <li>travel.name</li>
                {% endfor %}
                </ul>
        {% endblock %}